.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  font-size: 3rem ;
  font-weight: bolder;
}
.underline{
  width: 5rem;
  content: '';
  background-color: rgb(126, 190, 169);
  height: 0.4rem;
  margin-right: auto;
  margin-left: auto;
}
.disclaimer{
  background-color: rgba(23, 162, 184, 0.4);
  padding: 1.5rem 2rem;
  border-radius: 15px;
  margin-top: 6rem;
}
#author-repo{
  color:rgb(90, 138, 122);
}
.disclaimer a{
  text-decoration:none;
  margin-left: 10px;
  color:rgb(68, 136, 114);
}

